<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col" style=" display: flex;justify-content: center;">
                <Button></Button>
            </div>
        </div>
    </div>
</footer>