<div class="@Class">
    <a class="float-end text-decoration-none text-light mx-2" data-bs-toggle="offcanvas" href="#deviceMenu" role="button" aria-controls="deviceMenu" @onclick="LoadDevices">
        <i class="bi bi-three-dots-vertical"></i>
    </a>
</div>

<div class="offcanvas offcanvas-end bg-dark text-light" tabindex="-1" id="deviceMenu" aria-labelledby="deviceMenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="deviceMenuLabel">Devices</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <Devices @ref="Devices"></Devices>
    </div>
</div>

@code {
    [Parameter]
    public string Class { get; set; }
    public Devices Devices { get; set; }

    private async Task LoadDevices()
    {
        await Devices.Load();
    }
}
