.wrapper {
    padding: 2rem;
    height: 100vh;
}

.track-bg {
    animation: gradientWave 5s infinite;
}

@keyframes gradientWave {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    0% {
        opacity: 1;
    }
}