<button class="button-play-pause @buttonClass" @onclick="TogglePlayPause">
    <i class="@iconClass"></i>
</button>

@code {
    private string iconClass = "fas fa-play";
    private string buttonClass = "buttonPlay";

    private void TogglePlayPause()
    {
        if (iconClass == "fas fa-play")
        {
            iconClass = "fas fa-pause";
            buttonClass = "buttonPause";
        }
        else
        {
            iconClass = "fas fa-play";
            buttonClass = "buttonPlay";
        }
    }
}