@inject HttpClient Http

<div class="@Class">
    @if (isListening)
    {
        <a class="float-end text-decoration-none text-light mx-2" role="button" title="Rainbow Effect" @onclick="SetRainbow">
            <i class="bi bi-magic"></i>
        </a>
    }
    else
    {
        <a class="float-end text-decoration-none text-light mx-2" role="button" title="Sync with music" @onclick="SyncWithMusic">
            <i class="bi bi-arrow-repeat"></i>
        </a>
    }
</div>

@code {
    [Parameter]
    public string Class { get; set; }
    private bool isListening = true;

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<ResultResponse<bool>>("/player/listening");
        if (result.Success)
        {
            isListening = result.Result;
        }
        else
        {
            isListening = false;
        }
    }
    public async Task SetRainbow()
    {
        await Http.PostAsync("/devices/rainbow", null);
        isListening = false;
    }
    public async Task SyncWithMusic()
    {
        await Http.PostAsync("/devices/musicsync", null);
        isListening = true;
    }
}
