.track {
    display: grid;
    justify-content: space-around;
    align-items: center;
    max-width: 40%;
    margin: auto;
    text-align: center;
    grid-gap: 4rem;
    grid-template-rows: 85% 15%;
}
.wrapper {
    margin-top: -1.1rem;
    margin-left: -2rem;
    margin-right: -1.5rem;
    padding: 2rem;
    height: calc(100vh - 4rem);
}

.track-bg {
    animation: gradientWave 5s infinite;
}

@keyframes gradientWave {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    0% {
        opacity: 1;
    }
}